// Myriad Pro
@font-face {
	font-family: "Myriad Pro";
	src: url("./static/fonts/MyriadPro-Regular.woff") format('woff');
}

@font-face {
	font-family: "Myriad Pro Light";
	src: url("./static/fonts//MyriadPro-Light.woff") format('woff');
}


// Helvetica
@font-face {
	font-family: "Helvetica Neue Thin";
	src: url("./static/fonts//HelveticaNeue-Thin.woff") format('woff');
}

@font-face {
	font-family: "Helvetica Neue Bold";
	src: url("./static/fonts/HelveticaNeue-Bold.woff") format('woff');
}

@font-face {
	font-family: "Tahoma";
	src: url("./static/fonts//Tahoma.woff") format('woff');
}


// Proxima
@font-face {
	font-family: "Proxima Nova Regular";
	src: url("./static/fonts/ProximaNova-Regular.woff") format('woff');
}

@font-face {
	font-family: "Proxima Nova Semibold";
	src: url("./static/fonts/ProximaNova-Semibold.woff") format('woff');
}

@font-face {
	font-family: "Proxima Nova Light";
	src: url("./static/fonts/ProximaNova-Light.woff") format('woff');
}
